<div class="BlogNav">
  <div class="BlogNav__wrapper">  
    <a id="view-all" class="BlogNav__link" href="/blogs/news">view all</a>
    <a id="health" class="BlogNav__link" href="/blogs/news/tagged/health">health</a>
    <a id="fitness" class="BlogNav__link" href="/blogs/news/tagged/fitness">fitness</a>
    <a id="recipies" class="BlogNav__link" href="/blogs/news/tagged/recipes">recipes</a>
    <a id="lifestyle" class="BlogNav__link" href="/blogs/news/tagged/lifestyle">lifestyle</a> 
  </div>
</div>
<select class="BlogNav__select">
  <option value="/blogs/news" >view all</option>
  <option value="/blogs/news/tagged/health" >health</option>
  <option value="/blogs/news/tagged/fitness" >fitness</option>
  <option value="/blogs/news/tagged/recipes" >recipes</option>
  <option value="/blogs/news/tagged/lifestyle" >lifestyle</option>  
</select>
