<div id="change_password" class="Modal {% if settings.preheader_enabled %}Modal--has-preheader{% endif %}" data-modal>
  <div class="Modal__close Modal__close--outside" data-close-modal>
    {% include 'CloseIcon' %}
  </div>
  <div class="Modal__overlay" data-close-modal></div>
  <div class="Modal__content">
    <div class="Modal__close Modal__close--inside" data-close-modal>
      {% include 'CloseIcon' %}
    </div>
    {% include 'ChangePassword' %}
  </div>
</div>