{%- comment -%}
The id has to be "recover" as that is what Shopify puts in the URL hash no matter what...
So if you want this modal to open up properly, don't change it :)
{%- endcomment -%}
<div id="recover" class="Modal {% if settings.preheader_enabled %}Modal--has-preheader{% endif %}" data-modal>
  <div class="Modal__close Modal__close--outside" data-close-modal>
    {% include 'CloseIcon' %}
  </div>
  <div class="Modal__overlay" data-close-modal></div>
  <div class="Modal__content">
    <div class="Modal__close Modal__close--inside" data-close-modal>
      {% include 'CloseIcon' %}
    </div>
    {% section 'INF-ForgotPassword' %}
  </div>
</div>