<!-- Anchor link example with history state -->
<div id="anchor_modal" class="Modal {% if settings.preheader_enabled %}Modal--has-preheader{% endif %}" data-modal>
  <div class="Modal__close Modal__close--outside" data-close-modal>
    {% include 'CloseIcon' %}
  </div>
  <div class="Modal__overlay" data-modal-overlay data-close-modal></div>
  <div class="Modal__content" data-modal-content>
    <div class="Modal__close Modal__close--inside" data-close-modal>
      {% include 'CloseIcon' %}
    </div>
    <h2 class="Modal__heading">Anchor example</h2>
    <p>This modal can be opened by clicking the anchor icon in the pre-header.  Because the link uses an href anchor (instead of data-open-modal) you'll see <b>#example_modal</b> in your address bar.  If you want to see the hidden modal, manually change the url in your address bar to <b>#hidden_modal</b>.</p>
  </div>
</div>

<!-- Data-open-modal link example...no history state -->
<div id="no_anchor_modal" class="Modal {% if settings.preheader_enabled %}Modal--has-preheader{% endif %}" data-modal>
  <div class="Modal__close Modal__close--outside" data-close-modal>
    {% include 'CloseIcon' %}
  </div>
  <div class="Modal__overlay" data-modal-overlay data-close-modal></div>
  <div class="Modal__content" data-modal-content>
    <div class="Modal__close Modal__close--inside" data-close-modal>
      {% include 'CloseIcon' %}
    </div>
    <h2 class="Modal__heading">data-open-modal example</h2>
    <p>This modal can be opened by clicking the window icon in the pre-header.  Because the link uses data-open-modal (instead of an href anchor) nothing appears in the address bar. You also can't use the back/forward buttons to close or reopen the modal. However, if you know the ID of the modal, you can still manually type the anchor link in your address bar and it will open (handy for client previews).</p>
    <p>To simulate an extremely long modal and show how modals scroll, here's a ton of lorem ipsum:</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum fugit, aperiam qui ducimus incidunt quis ad saepe at! Quis pariatur id nemo iusto. Delectus doloremque, voluptates dicta ab ullam quibusdam!</p>
    <p>Illo debitis nihil, labore impedit voluptates soluta asperiores dignissimos dolorem cupiditate optio possimus, accusamus sit libero magni saepe quae explicabo obcaecati laboriosam! Veniam nobis incidunt nam cum a quasi voluptas commodi voluptates rerum dolore nulla nihil numquam perspiciatis at blanditiis odio similique, consequuntur et.</p>
    <p>Consequuntur doloremque distinctio quis aperiam quidem labore nisi aspernatur necessitatibus, perspiciatis quas nulla exercitationem voluptate cupiditate natus? Aperiam cum unde ut doloribus! Aliquid omnis aperiam, magni iure exercitationem numquam quas blanditiis repellendus. Debitis error reprehenderit, laboriosam praesentium neque porro placeat dignissimos dicta natus adipisci!</p>
    <p>Ipsam blanditiis neque rerum, saepe nam assumenda odio sed nostrum dolorum sint exercitationem repellat necessitatibus provident aliquam quod tenetur voluptatibus sapiente perspiciatis! Maxime, consectetur quae. Repellendus vitae minima distinctio, esse, iste ut quibusdam nemo doloremque iure eum ex deserunt illum at voluptatum quisquam aperiam?</p>
    <p>Dolorem facilis aspernatur explicabo deserunt a provident iste consequuntur, earum, odit iusto cupiditate odio. Molestias aspernatur quo reprehenderit voluptatem accusamus tenetur natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo magnam, totam omnis pariatur voluptatum ullam in, cumque error unde cupiditate molestias nihil accusantium dolorum accusamus quo odit. Nulla, nostrum ex.</p>
    <p>Eum vel natus iusto provident atque quis officia, adipisci quibusdam. Esse, officia doloribus corporis eius optio accusamus natus error iure ducimus sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius libero sequi quis sint reprehenderit accusantium laudantium nam eos delectus blanditiis, recusandae consectetur qui sed totam beatae et ratione dolorum quae?</p>
  </div>
</div>


<!-- Hidden modal example...not linked anywhere -->
<div id="hidden_modal" class="Modal {% if settings.preheader_enabled %}Modal--has-preheader{% endif %}" data-modal>
  <div class="Modal__close Modal__close--outside" data-close-modal>
    {% include 'CloseIcon' %}
  </div>
  <div class="Modal__overlay" data-modal-overlay data-close-modal></div>
  <div class="Modal__content" data-modal-content>
    <div class="Modal__close Modal__close--inside" data-close-modal>
      {% include 'CloseIcon' %}
    </div>
    <h2 class="Modal__heading">Hidden modal</h2>
    <p>This modal has no link to it.  The only way you can find or open it is by manually entering <b>#hidden_modal</b> in the address bar.</p>
  </div>
</div>