{%- capture icon_start -%}<i class="{{ settings.fa }} {%- endcapture -%}
{%- capture icon_end -%}"></i> {%- endcapture -%}
<ul class="NavList">
{%- for link in linklists[linklist].links -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: link %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

  {%- assign link_title = link.title | replace: '[[ ', icon_start | replace: '[[', icon_start | replace: ' ]]', icon_end | replace: ']]', icon_end -%}
    {%- capture link_active -%}
      {%- if template == 'collection'-%}
        active
      {%- endif -%}
    {%- endcapture -%}
  <li class="NavList__heading {% if link.levels == 1 %}NavList__heading--has-dropdown{% elsif link.levels > 1 %}NavList__heading--has-menu{% endif %}{% if link.active %} active{% endif %}{% if link_title == 'Products' %} {{ link_active }}{% endif %}" {% if link.levels == 1 %}data-nav-dropdown-hover{% elsif link.levels > 1 %}data-nav-menu-hover{% endif %}>
    <a href="{{ link.url }}">{{ link_title }}</a>
    {%- if link.levels == 1 -%}
      {% include 'NavList__dropdown' %}
    {%- elsif link.levels > 1 -%}
      {% include 'INF-NavList__menu' %}
    {%- endif -%}
  {% if customer.b2b? %}
  <li class="NavList__heading {% if link.active %} active{% endif %}"><a href="https://biosteel.com/collections/quick-order">Wholesale Quick Order</a></li>
  {%- endif -%}
  </li>
{%- endfor -%}
</ul>