<div class="PasswordResetRequested">
  <h2 class="Modal__heading">{% include 'INF-translation', translate: 'customer.recover_password.success_title', default: 'Email Sent' %}</h2>
  <p>{{ 'customer.recover_password.success' | t }}</p>
</div>