<div class="PreHeader__menu LanguageMenu">
  {%- include 'RegionSelector' -%}
  {%- if shop.currency == 'CAD' -%}
    <span class="LanguageMenu__item" data-language-menu-item data-language="en">English</span>
    <span class="LanguageMenu__item" data-language-menu-item data-language="fr-CA">Français</span>
  {%- endif -%}
</div>
