{%- assign video_image = product.metafields.c_f['[p][_t] 5a. Video Image'] -%}
{%- assign video_url = product.metafields.c_f['[p][_t] 5b. Video URL'] -%}

{%- assign product_carousel_handle = product.metafields.c_f['[p][_t] 6a. Carousel Blog'] -%}
{%- assign product_carousel = 'product-carousel/' | append: product_carousel_handle  -%}
{%- assign carousel = articles[product_carousel] %}

{%- if video_url and product_carousel_handle -%}
  <div class="ProductVideoCarousel">
    <div class="ProductVideoCarousel__video">
      <video id='video' controls="controls" preload='none'
        width="600" poster="{{ video_image }}">
        <source id='mp4' src="{{ video_url }}" type='video/mp4'/>
      </video>
    </div>

  <div class="ProductVideoCarousel__carousel">
      <style>
      .ProductVideoCarousel__carousel {
      background-image: url({{ 'water-background.png' | asset_img_url: 'master' }});
      }
      </style>
      <div class="ProductVideoCarousel__carousel-slider"
        data-flickity
        data-flickity-options='{ "wrapAround": true,
        "prevNextButtons": true,
        "pageDots": true,
        "autoPlay": true
        }'>
        {{ carousel.content }}
      </div>
    </div>
  </div>
{%- endif -%}