<div id="ShoppableImage" class="ShoppableImage__modal" role="dialog" aria-modal="true" aria-hidden="true" data-prevent-tab data-shoppable-image-modal data-modal>
  <div tabindex="0"></div>
  <div class="Modal__overlay" data-modal-overlay data-close-modal></div>
  <div class="Modal__content Modal__content--shoppable ShoppableImage__content" data-modal-content>
    <div class="ShoppableImage__bottom-view" data-bottom-view>
      <div class="ShoppableImage__bottom-container" data-will-animate>
        <div class="ShoppableImage__loader">{% include 'Loader' %}</div>
        <div class="ShoppableImage__controls clearfix">
          <div class="ShoppableImage__back" tabindex="0" role="button" data-back>
            
          </div>
          <div class="ShoppableImage__close" role="button" tabindex="0" data-close-modal>
            <i class="far fa-times"></i>
          </div>
        </div>
        <div class="ShoppableImage__bottom-main clearfix">
          <div class="ShoppableImage__products-wrapper">
            <div data-products-content>
              {% comment %} populated by js {% endcomment %}
            </div>
          </div>
          <div class="ShoppableImage__add-to-cart-wrapper">
            <div
              data-add-to-cart-content
              {% comment %} piggybacking on existing INF script for placeholder heights {% endcomment %}
              data-section-id="ShoppableImage"
              data-section-type="product"
              data-enable-history-state="true"
            >
            {% comment %} populated by js {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>